<h1 mat-dialog-title>Cadastrar Motorista</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="save()" novalidate>
    <div class="row">
      <div class="col-12">
        <app-input formControlName="name"
          t-type="text"
          t-label="Nome">
        </app-input>
      </div>
      <div class="col-6">
        <app-input formControlName="birth_date"
          t-type="date"
          t-label="Data de nascimento"
          t-placeholder="">
        </app-input>
      </div>
      <div class="col-6">
        <app-input formControlName="phone"
          t-type="text"
          t-label="Telefone">
        </app-input>
      </div>
      <div class="col-12" formArrayName="documents" *ngFor="let item of getControl(form, 'documents'); let i = index;">
        <div class="row" [formGroupName]="i">
          <div class="col-12">
            <label>Tipo de documento:</label>
            <mat-radio-group class="t-radio-group" formControlName="doc_type">
              <mat-radio-button class="t-radio-button" value="CPF">CPF</mat-radio-button>
              <mat-radio-button class="t-radio-button" value="CNH">CNH</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-12 row m-0" *ngIf="item.get('doc_type').value != ''">
            <div class="pl-0"
              [ngClass]="{ 'col-6' : item.get('doc_type').value == 'CNH', 'col-10' : item.get('doc_type').value == 'CPF' }">
              <app-input class="t-input-number" formControlName="number"
                t-type="text"
                t-label="Número">
              </app-input>
            </div>
            <div class="col-4" *ngIf="item.get('doc_type').value == 'CNH'">
              <app-input class="t-input-category" formControlName="category"
                t-type="text"
                t-label="Categoria">
              </app-input>
            </div>
            <div class="col p-0 m-0 row justify-content-center">
              <button type="button" mat-icon-button class="t-btn-add" (click)="addNewDocument(item)">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
              <!-- <button type="button" mat-icon-button class="t-btn-add" (click)="removeDocument(item)">
                <mat-icon>claer</mat-icon>
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions class="justify-content-between">
  <button type="button" mat-raised-button color="warn" [mat-dialog-close]>Cancelar</button>
  <button type="submit" mat-raised-button color="primary" (click)="save()">Salvar</button>
</div>
